html { height: 100%; padding: 0; }
body { background: linear-gradient( #006699, #004466); height: 100%; margin: 0; overflow-x: hidden; overflow-y: hidden; }
.wrap-bolhas { width: 100%; background: transparent; height: 100%;}
.wrap-bolhas .bolha {
  background: #81c2e3;
  border-radius: 50%;
  position: absolute;
}

.b1 {
  width: 20px;
  height: 20px;
  bottom: -20px;
  left: 30%;
  animation: bolhas 5s infinite;
  animation-delay: 0s;
}

.b2 {
  width: 15px;
  height: 15px;
  bottom: -15px;
  left: 50%;
  animation: bolhas 5s infinite;
  animation-delay: 2s;
}

.b3 {
  width: 40px;
  height: 40px;
  bottom: -40px;
  left: 70%;
  animation: bolhas 5s infinite;
  animation-delay: 1s;
}

.peixe01 {
  right: -200px;
  width: 200px;
  top: 15%;
  position: absolute;
  animation: peixes 4s ease-in-out 2s, up_down 2s linear infinite;
  animation-fill-mode: forwards;
}

/*.sobe_desce {
  animation: ;
}
*/

h1 {
  font-family: 'Anton', sans-serif;
  color: white;
  font-size: 55px;
  text-align: center;
  /*position: absolute;*/
  /*bottom: -50%;*/
  /*left: calc(50% - 263px);*/
  /**/
  position: relative;
  display: block;
  text-align: center;
  margin-top: 360px;
  width: 100%;
  bottom: -100%;
  /**/
  letter-spacing: 10px;
  animation: texto 5s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}

h1 small {
  font-size: 30px;
  color: #f4f4f4;
}


@-webkit-keyframes bolhas {
  from {bottom: -100px;}
  to {bottom: 100%;}
}

@-webkit-keyframes peixes {
  from { right: -200px; }
  to { right: calc(50% - 100px); }
}

@-webkit-keyframes texto {
  from {bottom: -100%;}
  to {bottom: 0;}
}

@-webkit-keyframes up_down {
  0%, 100%{
    top: 17%;
  }
  50%{
    top: 15%;
  }
}




